body{
	font-family : 'MaterialDesignArabic';
   text-align: center;
   background:url('../images/Background2.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:relative;
}
@font-face {
	font-family: "MaterialDesignArabic"; 
	src:url('../NotoKufiArabic-hinted/NotoKufiArabic-Regular.ttf');
}
*{
	padding: 0px;
	margin: 0px;
}
#div2{
	
	background:#00695C;
	height: 39px;
	width: 100%;
	line-height: 100px;
	opacity: 0.8;
	filter: alpha (opacity=80);
}

 #div3 {
	background:#00897B;
	height: 80px;
	width: 100%;
	line-height: 100px;
	filter: alpha (opacity=50);
	opacity : 0.5;
	margin:0 auto;
float:center;
	
 }
 #div5 {
	background:#DCDCDC;
	height: 100px;
	margin:0 auto;
	filter: alpha (opacity=80);
	opacity : 0.8;
	
 }
.center-div{
margin:0 auto;
float:center;
}
ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
 margin-left:2px;
 float:left; /*pour IE*/
 }
i{
margin-top:5px;
color:#DCDCDC;
 
}
#white{
color:#DCDCDC;
}
a{
text-decoration:none;
 text-align:center;
}
.blacka{
 display:block;
 float:left;   
 width:100px;
 line-height:30px; /*hauteur de l'image de fond*/
 background:black url(images/noir-1.png) repeat-x;
 color:#80CBC4;
 text-decoration:none;
 text-align:center;
}
.blacka:hover {
 background:black url(images/noir-1.png) repeat-x;
 color:white;
 }
ul li a {
 display:block;
 float:left;   
 width:100px;
 line-height:30px; /*hauteur de l'image de fond*/
 background:black url(../images/noir-1.png) repeat-x;
 color:#DCDCDC;
 text-decoration:none;
 text-align:center;
 }
ul li a:hover {
 color:white;
 }
.tabas {
 display:block;
 float:left;   
 width:100px;
 line-height:1; /*hauteur de l'image de fond*/
 background:black url(images/noir-1.png) repeat-x;
 color:#DCDCDC;
 text-decoration:none;
 text-align:center;
 
} 
/*.tabas:hover{
 background:black url(images/noir-2.png) repeat-x;
 color:white;
 border: 2px white solid;
}*/
#tabic {
 font-size: 100px;
 margin:0px;
}
 @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  width: 100%;
  align:center;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Classe obligatoire pour les flèches */
.flecheDesc {
  width: 0; 
  height: 0; 
  float:right;
  margin: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
.flecheAsc {
  width: 0; 
  height: 0;
  float:right;
  margin: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.avectri {
margin:0 auto;
float:center;
}
/* Classe optionnelle pour le style */
.avectri th {text-align:center;vertical-align: middle;background-color:#B2DFDB;color:#444;cursor:pointer;
		-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin:0 auto;
  float:center;
}
.avectri td{
background-color:#E0F7FA;color:#444;
}
.avectri th.selection {background-color:#B2DFDB;color:#00838F;}
.avectri th.selection .flecheDesc {border-bottom-color: white;}
.avectri th.selection .flecheAsc {border-top-color: white;}


.container .btn:hover{background:#A0CFEC}
.container .btn{background-color:#F9F8F6}

#editor {
box-shadow: inset 0 0 10px silver;
overflow: auto;
width:100%;
height :355px;
border:0;
padding:4px;
padding-left:10px;
padding-right:10px;
word-wrap:break-word;
}
#exemple {
box-shadow: inset 0 0 10px silver;
overflow: auto;
width:1200px;
text-align:center;
height :500px;
padding-right:50px;
padding-left:100px; 
word-wrap:break-word;
}
 #editeurDANYA{
	 
	 
	padding-left:20px; 
	
	 
	 
	 
 }
 
 #divSep{
	 padding-left:15px; 
	
 }
#partagertab{

box-shadow: inset 0 0 10px silver;
overflow:hidden;
width:360px;
height :552px;
border:0;



}


/**style des sections**/

.ObservationContenu{
  
					border: 1px dashed #9E9E9E;
					background-color: #f3f1ef;
					display: block;
					padding: 5px;
					color: black;
					font-family: Verdana;
					font-size: 1.2em;					

}

.Observation
{
					border: 1px dashed gray;
					border-bottom: 0px;
					background-color: gray;
					display: block;
					padding: 5px;
					color: white;
					font-family: Verdana;
					font-size: 1.4em;
					font-style:bold;
					vertical-align:middle;
					
} 
 


/**style des titres et des puces**/

ol {
  text-indent:2px;margin-left:30px;margin-right:25px;line-height: 1.5;      
}
/**colonnes et tableaux**/
.sep
{width:20px;}

.ruban {background: #b1c70d;height: 60px;width: 105%;position: relative;left:-15px;top: 25px;float: left;box-shadow: 0px 0px 4px rgba(0,0,0,0.55);z-index: 100;}
.ruban h2 {font-size: 25px;color: #fff;text-shadow: 1px 1px 2px rgba(0,0,0,0.2);text-align: center;margin:10px;}
.ruban_gauche {border-color: transparent #7e9202 transparent transparent;border-style:solid;border-width:15px;height:0px;width:0px;position: relative;left: -30px;top: 70px;z-index: -1;}
.ruban_droit {border-color: transparent transparent transparent #7e9202;border-style:solid;border-width:15px;height:0px;width:0px;position: relative;left: 100%;top: 40px;z-index: -1;}

.ribbon {
  background: hsl(30, 90%, 65%) url(noise.png);
  box-shadow: 2px 6px 12px rgba(0,0,0,0.5);
  font-family: Charter, serif;
  font-size: 16px;
  line-height: 1.0;
  text-align: center;
  margin: 0 auto;
  padding: 0.25em 0;
  position: relative;
  width: 70%;
}
.ribbon:before,
.ribbon:after {
  border: 1.5em solid hsl(30, 82%, 62%);
  content: '';
  display: block;
  position: absolute;
  bottom: -1em;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
  box-shadow: -2px 2px 2px rgba(0,0,0,0.5);
}
.ribbon-content {
  border-top: 0.0625em dashed hsl(30, 90%, 44%);
  border-bottom: 0.0625em dashed hsl(30, 90%, 44%);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.08), inset 0px -1px 1px rgba(255,255,255,0.08), 0px -1px 1px rgba(255,255,255,0.2), 0px 1px 1px rgba(0,0,0,0.08);
  display: block;
  padding: 0.6875em 0;
}
.ribbon-content:before,
.ribbon-content:after {
  content: '';
  display: block;
  position: absolute;
  border-style: solid;
  border-color: hsl(30, 80%, 40%) transparent transparent transparent;
  bottom: -1em;
}
.ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
.ribbon a {
  color: hsl(30, 90%, 40%);
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.25);
}
.ribbon a:hover {
  color: hsl(30, 90%, 43%);
}
/*****image modal ***********************/
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

/************************* posts*********************************/






.tablee{
	border: 1px solid black;
	width:80% ;
	table-layout :fixed;
	word-wrap: break-word;

	
	
}
.coll{
	border: 1px solid black;
	 height: 50px;

}
/******************** Image **************************/
.gauche {
    text-align: left ;

}

figure.gauche {
    margin-left: 0 ;
    margin-right : auto ;

}


.droite {
    text-align: right;

}
figure.droite {
    margin-right: 0 ;
    margin-left : auto ;
}

.centre{
    text-align: center ;

}

figure.centre {
    margin-right : auto  ;
    margin-left: auto ;
}


.gras {
    font-weight: bold ;

}

.italique{
    font-style: italic;

}


.souligne{
    text-decoration: underline;
}
.taille1 {
	font-size: 10px ;
}

.taille2 {
	font-size: 13px ;
}

.taille3 {
	font-size: 16px ;
}

.taille4 {
	font-size: 18px ;
}

.taille5 {
	font-size: 24px ;
}

.taille6 {
	font-size: 32px ;
}

.taille7 {
	font-size: 48px ;
}

	/*****les couleurs du fond d'un tableau*****/
 .colorVert {
    background: green;
}
.colorRouge {
    background: red;
}
.colorJaune {
    background: yellow;
}
.colorRose {
    background: magenta;
}
.colorCyan {
    background: cyan;
}
.colorBlue {
    background: blue;
}
.colorOrange {
    background: orange;
}

.colorSilver {
    background: silver;
}
.colorBlack {
    background: black;
}
.colorLime {
    background: lime;
}


/************************** Menu contextuel *************************************************/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/********************************formulaire******************************/

.red{
    color:red;
    }
.form-area
{
    background-color: transparent;
	padding-left:50px;
	padding-right:40px;
	margin-right:5px;
	
	
	}
	
	#example-optionClass-container .multiselect-container li.odd {
        background: #eeeeee;
    }
	/*****************************/
	#envoyer{
		
		background-color:#659EC7;
		color:#FFFFFF;
		width:100px;
		height:50px;
		padding-top:10px;
		
		
		
	}
	
	#send{	
		
		background-color:#659EC7;
		color:#FFFFFF;
		width:200px;
	    height:50px;
	
		
		
		
	}
	
.A{
	
	color:#659EC7;
	background-color:#659EC7;
}
/**************************************Slider******************************/

.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
	
	
	
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #00897B;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 30px;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
	
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators ol{
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}
.CarouselItem{
	
	width:227px;
	
	height:120px;
	background-color:black;
	opacity:0.8;
	

}

.ItemTitle{

	text-align:center;
	color:#FFFFFF;
	size:30px;
	
	
}

*{
	padding: 0px;
	margin: 0px;
}
